.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  /* max-width: 1280px; */
  width: 100%;
  background-color: aliceblue;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 12px;
}
