.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  width: 900px;
  background-color: aliceblue;
  padding: 15px;
  transform: translateX(-50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 12px;
}
