.content {
  background-color: aliceblue;
  border: dashed;
  padding: 6px;
  display: flex;
  margin-top: 130px;
  gap: 25px;
}

.wrapperContactFormFilter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 230px;
}

.spinerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
