.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  padding: 12px;
  border-radius: 10px;
  width: 370px;
}

h2,
p {
  color: #827373;
  font-size: 26px;
  font-weight: 700;
  font-family: sans-serif;
  margin: 0;
}

.buttonDelete,
.buttonEdit {
  background-color: #cb970dc7;
  color: black;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 10px;
}

.contactPhone,
.contactcontactInfo {
  display: flex;
  gap: 15px;
  align-items: center;
  color: black;
}

.btnBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}
