.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
  /*   background-color: white; */
}

.container {
  display: flex;
  flex-direction: column;
}

.label {
  color: black;
  text-align: start;
  font-size: 20px;
  font-weight: 600;
}

.input,
.inputMask {
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
  padding: 12px;
  color: black;
}

.formButton {
  color: black;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 20px;
  width: 170px;
  background-color: #b1acac73;
  display: block;
  margin: 0 auto;
}

.formButton:hover {
  transform: scale(1.05);
}

span {
  color: rgb(209, 22, 22);
  font-size: 16px;
  text-align: start;
}
